{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Log-in{% endblock title %}

{% block content %}
<div id='main'>
  <form class="uniForm" id='auth-form' method="post">
    <h2>Log In</h2>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-dark" type="submit">Log In</button>
    <p><br>
      Forgot your password? <a href="{% url 'password_reset' %}">Reset it.</a><br>
      Not registered? Sign up <a href="{% url 'accounts:signup' %}">Here</a>.
    </p>
  </form>
</div>
{% endblock content %}
