{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}

{% block content %}
    <h1>Password reset</h1>
    {% if validlink %}
        <p>Please enter your new password</p>
        <form method="POST">
            {{ form|crispy }}
            {% csrf_token %}
            <p><input type="submit" value="Change password" class="btn btn-primary"></p>
        </form>
    {% else %}
        <p>Link is not valid, perhaps already used. Please try <a href="{% url 'password_reset' %}">reset your password again.</a></p>
    {% endif %}
{% endblock content %}
